
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Trello App</span>
    <span class="example-spacer"></span>
    <button  *ngIf="isloggedin() === true" mat-raised-button (click)="logOut()">LogOut
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">logout</mat-icon>
  </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>