<div class="example-container" class="full-width">
<mat-tab-group dynamicHeight color="primary" appearance="fill" class="card">
    <mat-tab label="Login" appearance="fill" >
      <mat-card >
        <mat-card-header appearance="fill">
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
         <hr>
          <div class="example-container">
            <p>
            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </p>
           <p>
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
                <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </p>
          </div>          
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="login()" color="primary">Login</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab label="Sign Up"  appearance="fill">
      <mat-card >
        <mat-card-header appearance="fill">
          <mat-card-title >Sign Up</mat-card-title>
        </mat-card-header>
        <mat-card-content>
         <hr>
          <div class="example-container">
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Enter your First Name</mat-label>
                <input matInput placeholder="First Name" [formControl]="firstName" required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Enter your Last Name</mat-label>
                <input matInput placeholder="Last Name" [formControl]="lastName" required>
              </mat-form-field>
            </p>
            <p>
            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </p>
           <p>
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
                <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </p>
          </div>          
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="signup()" color="primary">  Sign Up   </button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
</mat-tab-group>
</div>


