h2 {
    color: #454545;
    margin-bottom: 0px;
    padding-left: var(--mdc-layout-grid-margin-desktop, 24px);
  }
  
  mat-card {
    cursor: pointer;
  }
  
  .m-r-10 {
    margin-right: 10px;
  }
  
  .full-width {
    width: 50%;
    margin-top: 20px;
    align-items: center;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    border-radius: 8px;
    text-align: center;
  }

  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  .card {
    font-size: 16px;
    align-items: center;
    background: #454545;
    padding: 40px;
    word-wrap: initial;
    margin: 20px 0px;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
    margin-top: 100px;
  }
  
  .example-container .mat-form-field {
    width: 500px;
    margin-top: 10px;
  }
  
  .example-container form {
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .example-container form > * {
    margin: 5px 0;
    margin-top: 100px;
  }

  .center-align {
    align-items: center;
  }